body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.event-card {
  text-align: center;
  border-radius: 30px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 3px solid darkgoldenrod;
}

.hour {
  background-color: white;
  color: black;
  border-top: 3px solid darkgoldenrod;
}

.past {
  background-color: darkslategray;
  color: black;
}

.present {
  background-color: teal;
  color: white;
}

.future {
  background-color: lightblue;
  color: darkgrey;
}

.saveBtn {
  border-left: 3px solid darkgoldenrod;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: black
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
